{% load static %}



<!-- HEADER -->
<div class="header">
  <div class="container">
    <div class="top-bar">

      <!-- LOGO -->
      <div class="logo">
  <a href="/">
    <img src="{% static 'assets/images/bank-logo.png' %}" alt="Logo">
  </a>
</div>
<div class="mobile-menu-btn">
  <span></span>
  <span></span>
  <span></span>
</div>
      <!-- CENTER INFO -->
      <div class="top-center">
        <div class="info-item">
          <img src="{% static 'assets/images/icon-vitri.png' %}">
          <span>Taxi 7 chỗ, 5 chỗ đi xa gần giá rẻ chỉ từ 6000đ/km</span>
        </div>

        <div class="info-item">
          <img src="{% static 'assets/images/icon-lienhe.png' %}">
          <span>0829133391</span>
        </div>
      </div>

      <!-- RIGHT -->
      <div class="top-right">
        <a href="#formDangKy" class="btn">ĐẶT XE NGAY</a>
      </div>

    </div>
  </div>
</div>
<!-- MENU Mobile -->
<div class="mobile-menu">

  <a href="/">Trang chủ</a>

  <!-- VAY TÍN CHẤP -->
  <div class="m-dropdown">
    <a href="#" class="m-btn">
  Giá cước xe đi tỉnh <i class="fa fa-chevron-down"></i>
</a>

    <div class="m-submenu">
      <a href="/hanoi-halong/">Hà Nội - Hạ Long từ 1.100.000đ</a>
        <a href="/hanoi-haiphong/">Hà Nội - Hải Phòng từ 800.000đ </a>
        <a href="/hanoi-bacninh/">Hà Nội - Bắc Ninh từ 300.000đ</a>
        <a href="/hanoi-haiduong/">Hà Nội - Hải Dương từ 500.000đ</a>
        <a href="/hanoi-halong/">Hà Nội - Ninh Bình từ 800.000đ</a>
        <a href="/hanoi-thainguyen/">Hà Nội - Thái Nguyên từ 800.000đ</a>
        <a href="/hanoi-bacgiang/">Hà Nội - Bắc Giang từ 800.000đ</a>
        <a href="/hanoi-langson/">Hà Nội - Lạng Sơn từ 1.100.000đ</a>
        <a href="/hanoi-laocai/">Hà Nội - Lào Cai từ 2.000.000đ</a>
        <a href="/hanoi-namdinh/">Hà Nội - Nam Định từ 800.000đ</a>
        <a href="/hanoi-thanhhoa/">Hà Nội - Thanh Hóa từ 1.100.000đ</a>
        <a href="/hanoi-hoabinh/">Hà Nội - Hòa Bình từ 800.000đ</a>
    </div>
  </div>


  <a href="/sanbay-noibai/">Đưa đón sân bay Nội Bài</a>
  <a href="/tinhcuocphi/">Công cụ tính cước nhanh</a>
  <a href="/lien-he/">Liên hệ đặt xe nhanh</a>

</div>

<!-- MENU -->
<div class="menu">
  <div class="container">

    <!-- 1 -->
    <a href="/">Trang chủ</a>

    <!-- 2: VAY TÍN CHẤP -->
    <div class="dropdown">
      <a href="#" class="drop-btn">
  Giá cước xe đi tỉnh <i class="fa fa-chevron-down"></i>
</a>

      <div class="submenu">
        <a href="/hanoi-halong/">Hà Nội - Hạ Long từ 1.100.000đ</a>
        <a href="/hanoi-haiphong/">Hà Nội - Hải Phòng từ 800.000đ </a>
        <a href="/hanoi-bacninh/">Hà Nội - Bắc Ninh từ 300.000đ</a>
        <a href="/hanoi-haiduong/">Hà Nội - Hải Dương từ 500.000đ</a>
        <a href="/hanoi-ninhbinh/">Hà Nội - Ninh Bình từ 800.000đ</a>
        <a href="/hanoi-thainguyen/">Hà Nội - Thái Nguyên từ 800.000đ</a>
        <a href="/hanoi-bacgiang/">Hà Nội - Bắc Giang từ 800.000đ</a>
        <a href="/hanoi-langson/">Hà Nội - Lạng Sơn từ 1.100.000đ</a>
        <a href="/hanoi-laocai/">Hà Nội - Lào Cai từ 2.000.000đ</a>
        <a href="/hanoi-namdinh/">Hà Nội - Nam Định từ 800.000đ</a>
        <a href="/hanoi-thanhhoa/">Hà Nội - Thanh Hóa từ 1.100.000đ</a>
        <a href="/hanoi-hoabinh/">Hà Nội - Hòa Bình từ 800.000đ</a>
    </div>
  </div>
    <a href="/sanbay-noibai/">Đưa đón sân bay Nội Bài</a>
    <a href="/tinhcuocphi/">Công cụ tính cước nhanh</a>
  <a href="/lien-he/">Liên hệ đặt xe nhanh</a>


  </div>
</div>

<!-- SLIDER -->
<section class="slider">
    <img src="{% static 'assets/images/banner.jpg' %}" class="slide active">
    <img src="{% static 'assets/images/banner1.jpg' %}" class="slide">
    <img src="{% static 'assets/images/banner2.jpg' %}" class="slide">
</section>