<div class="menu">

    <a href="?page=home">Trang chủ</a>

    <div class="dropdown">
        <a href="?page=vay-tin-chap">Vay tín chấp</a>
        <div class="submenu">
            <a href="#">Vay mua nhà trả góp</a>
            <a href="#">Vay mua ô tô trả góp</a>
            <a href="#">Vay xe máy</a>
            <a href="#">Hộ kinh doanh</a>
            <a href="#">Hóa đơn điện</a>
            <a href="#">Bảo hiểm</a>
            <a href="#">Theo lương</a>
            <a href="#">Theo SIM</a>
        </div>
    </div>

    <div class="dropdown">
        <a href="?page=vay-the-chap">Vay thế chấp</a>
        <div class="submenu">
            <a href="#">Vay thế chấp tài sản</a>
        </div>
    </div>

    <div class="dropdown">
        <a href="?page=the-ngan-hang">Thẻ ngân hàng</a>
        <div class="submenu">
            <a href="#">Thẻ ngân hàng</a>
            <a href="#">Thẻ tín dụng</a>
            <a href="#">Thẻ người đi làm</a>
            <a href="#">Thẻ sinh viên</a>
        </div>
    </div>

    <a href="?page=ho-tro-no-xau">Hỗ trợ nợ xấu</a>
    <a href="?page=lien-he">Liên hệ</a>

</div>